@import 'library/RESET';


// VARIABLES

$COLOR1 : #fff;
$COLOR2 : #3AFF66;
$FONT14: #{"min(max(3.5vw),14px)"};
$FONT16: #{"min(max(4vw),16px)"};
$FONT18: #{"min(max(4.5vw),18px)"};
$FONT20: #{"min(max(5vw),20px)"};
$FONT22: #{"min(max(5.5vw),22px)"};
$FONT24: #{"min(max(6vw),24px)"};
$FONT26: #{"min(max(6.5vw),26px)"};
$FONT28: #{"min(max(7vw),28px)"};
$FONT30: #{"min(max(7.5vw),30px)"};
$FONT32: #{"min(max(8vw),32px)"};


// STYLES

body {
    //font-family : monospace;
    color       : #000;
    font-family: 'Montserrat';

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100vh;
}

.body__bg{
    position: absolute;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    img{
        height: auto;
        width: 100%;
        //object-fit: cover;
    }
}


@import 'paso1/1Progres';
@import 'paso1/2ViewCounter';
@import 'paso1/3Video';
@import 'paso1/4Playlist';